.image_list{

    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.image_div{
    border-radius: 10px;
    width: 400px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.image_div img{
    /* width: 100%;
    height: 100%; */
    object-fit: fill;
}

.image_text{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in;
    opacity: 0;
}

.image_text p{
    font-size: 25px;
    font-weight: bold;
    color: aqua;
    text-transform: capitalize;
    text-align: center;
}

.image_div:hover > .image_text{
    opacity: 1;
}

.form_container{
    border: 2px solid lightgray;
    border-radius: 5px;
    display: grid;
    place-items: center;
    padding: 5px 10px;
    margin-left: 30px;
    
}
.form_container form{
    display: flex;
    flex-direction: column;
}
.form_container input{
    width: 300px;
    padding: 5px 2px;
    outline: none;
}
.header_container{
    width: 80%;
    margin: 10px auto;
    display: flex;
}
.logo_container{
    display: flex;
    align-items: center;
}

.logo{
    width: 70px;
    height: 70px;
    border: 2px solid aqua;
    display: grid;
    place-items: center;
    border-radius: 50px;
}
.logo_container h2{
    color: aqua;
}